{{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
    {{ form_widget(form) }}
    <button class="btn btn-warning">{{ infrastructure.id ? 'Modifier' : 'Créer' }}</button>
{{ form_end(form) }}
