{% extends 'base.html.twig' %}

{% block title %}Edit Structure{% endblock %}

{% block body %}
    <h1>Modification «{{ structure }}s»</h1>

    {{ include('structure/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('structure_index', {'structure': structure}) }}">back to list</a>
{% endblock %}
