{% extends 'base.html.twig' %}

{% block title %}Création «{{ structure }}s»{% endblock %}

{% block body %}
    <h1>Création «{{ structure }}»</h1>
    {{ include('structure/_form.html.twig') }}
{% endblock %}
