{% extends 'base.html.twig' %}

{% block title %}Conseils Mnucipaux{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
<h1>CONSEILS MUNICIPAUX</h1>
<h2>Comptes-rendus des conseils municipaux</h2>
{% include 'partials/footer.html.twig' %}
{% endblock %}