{% extends 'base.html.twig' %}

{% block title %}Conseils Mnucipaux{% endblock %}

{% block body %}

<div class="containe-fluid">
    <h1 class="ml-3" style="color:#BC4464;">Conseils municipaux</h1>
    <div class="text-center mt-4">
        <h5>Aucun comptes-rendu des conseils municipaux n'est actuellement disponible.</h5>
    </div>
</div>
{% endblock %}