{% extends 'base.html.twig' %}

{% block title %}Les Elus{% endblock %}

{% block body %}

<div class="container-fluid">

  <div class="text-center">
      <h1 style="color:#BC4464;">Vos élus</h1>
  </div>

  <div class="d-md-flex">
    <div class="col-md-4">
      <img class="img-fluid rounded" src="images/Marc-Deluxe-478x720.jpg" alt="Maire - Marc Deluxe" />
      <div class="text-center mt-2">
        <h3><span class="badge text-white" style="background-color:#BC4464;">Marc DELUXE</span></h3>
        <p><strong>Maire</strong></p>
      </div>
    </div>
    <div class="col-md-4">
      <img class="img-fluid rounded" src="images/Sonia-Da-Costa-478x720.jpg" alt="1ère adjointe - Sonia Da Costa" />
      <div class="text-center mt-2">
        <h3><span class="badge text-white" style="background-color:#BC4464;">Sonia DA COSTA</span></h3>
        <p class="text-muted">1er adjoint Vie Associative et Culturelle – Sport</p>
      </div>
    </div>
    <div class="col-md-4">
      <img class="img-fluid rounded" src="images/Dupon-Marie-478x720.jpg" alt="2e adjoint - Thierry Dupont" />
      <div class="text-center mt-2">
        <h3><span class="badge text-white" style="background-color:#BC4464;">Thierry DUPONT</span></h3>
        <p class="text-muted">2ème adjoint Finance – Sécurité positive</p>
      </div>
    </div>
  </div>

  <div class="d-md-flex">
    <div class="col-md-4">
      <img class="img-fluid rounded" src="images/Sylvie-Batacle-478x720.jpg" alt="3e adjointe - Sylvie Batacle" />
      <div class="text-center mt-2">
        <h3><span class="badge text-white" style="background-color:#BC4464;">Sylvie BATACLE</span></h3>
        <p class="text-muted">3ème adjoint</p>
      </div>
    </div>
    <div class="col-md-4">
      <img class="img-fluid rounded" src="images/Jack-Auzane-478x720.jpg" alt="4e adjoint - Jack Auzane" />
      <div class="text-center mt-2">
        <h3><span class="badge text-white" style="background-color:#BC4464;">Jack AUZANE</span></h3>
        <p class="text-muted">4ème adjoint Bâtiments communaux – Patrimoine</p>
      </div>
    </div>
    <div class="col-md-4">
      <img class="img-fluid rounded" src="images/Brigitte-Heuracle-478x720.jpg" alt="5e adjointe - Brigitte Heuracle" />
      <div class="text-center mt-2">
        <h3><span class="badge text-white" style="background-color:#BC4464;">Brigitte HEURACLE</span></h3>
        <p class="text-muted">5ème adjoint Information – Communication – Informatique</p>
      </div>
    </div>
  </div>
  <hr>

  <div class="text-center">
      <h1 style="color:#BC6044;">Vos conseillers délégués</h1>
  </div>

  <div class="d-md-flex">
    <div class="col-md-4">
      <img class="img-fluid rounded" src="images/Elise-Ignoti-478x720.jpg" alt="Maire - Marc Deluxe" />
      <div class="text-center mt-2">
        <h3><span class="badge text-white" style="background-color:#BC6044;">Elise IGNOTI</span></h3>
        <p class="text-muted">Fêtes et cérémonies</p>
      </div>
    </div>
    <div class="col-md-4">
      <img class="img-fluid rounded" src="images/Salouha-Belkessam-478x720.jpg" alt="1ère adjointe - Sonia Da Costa" />
      <div class="text-center mt-2">
        <h3><span class="badge text-white" style="background-color:#BC6044;">Salouha BELKESSAM</span></h3>
        <p class="text-muted">Affaires sanitaires</p>
      </div>
    </div>
    <div class="col-md-4">
      <img class="img-fluid rounded" src="images/Adama-Camara-478x720.jpg" alt="2e adjoint - Thierry Dupont" />
      <div class="text-center mt-2">
        <h3><span class="badge text-white" style="background-color:#BC6044;">Adama CAMARA</span></h3>
        <p class="text-muted">Service technique – Entretien des infrastructures</p>
      </div>
    </div>
  </div>
  <hr>

  <div class="text-center">
      <h1 style="color:#BC44A0;">Vos conseillers municipaux</h1>
  </div>

  <div class="d-md-flex">
    <div class="col-md-4">
      <img class="img-fluid rounded" src="images/Jennifer-Yahia-Chérif-478x720.jpg" alt="Maire - Marc Deluxe" />
      <div class="text-center mt-2">
        <h3><span class="badge text-white" style="background-color:#BC44A0;">Jennifer YAHIA-CHERIF</span></h3>
      </div>
    </div>
    <div class="col-md-4">
      <img class="img-fluid rounded" src="images/Paul-Saubatte-478x720.jpg" alt="1ère adjointe - Sonia Da Costa" />
      <div class="text-center mt-2">
        <h3><span class="badge text-white" style="background-color:#BC44A0;">Paul SAUBATTE</span></h3>
      </div>
    </div>
    <div class="col-md-4">
      <img class="img-fluid rounded" src="images/Cassandra-Vallerant-478x720.jpg" alt="2e adjoint - Thierry Dupont" />
      <div class="text-center mt-2">
        <h3><span class="badge text-white" style="background-color:#BC44A0;">Cassandra VALLERANT</span></h3>
      </div>
    </div>
  </div>

  <div class="d-md-flex mt-2">
    <div class="col-md-6">
      <div class="d-md-flex justify-content-md-center">
        <img class="img-fluid rounded" src="images/Pierre-Trottier-478x720.jpg" alt="Maire - Marc Deluxe" />
      </div>
      <div class="text-center mt-2">
        <h3><span class="badge text-white" style="background-color:#BC44A0;">Pierre TROTTIER</span></h3>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-md-flex justify-content-md-center">
        <img class="img-fluid rounded" src="images/Sofia-Da-Silva-478x720.jpg" alt="1ère adjointe - Sonia Da Costa" />
      </div>
      <div class="text-center mt-2">
        <h3><span class="badge text-white" style="background-color:#BC44A0;">Sofia DA SILVA</span></h3>
      </div>
    </div>
  </div>
</div>
{% endblock %}