{% extends 'base.html.twig' %}

{% block title %}Les Elus{% endblock %}

{% block body %}
<div style= "margin-top: -290px">
<h1 class="item" style="margin-left: 15px">Les Elus</h1>
<div style="height: 2px; width: 100%;  background: linear-gradient(to right, #4464BC, #E8ECF7);" class="item"></div>
</div>

<center><h2 style= "margin-left: 15px; margin-top: 100px; margin-bottom: 50px">Vos élus</h2></center>
<center><img src="images/Marc-Deluxe-478x720.jpg" alt="Eglise de Cergy-Village" /></center>
<h3 style="text-align: center">Marc DELUXE</h3>
<p style="text-align: center">Maire</p>

<div style="text-align: center">
<img src="images/Sonia-Da-Costa-478x720.jpg" alt="Eglise de Cergy-Village" />
<h3>Sonia DA COSTA</h3>
<p>1er adjoint
Vie Associative et Culturelle – Sport</p>
<img src="images/Dupon-Marie-478x720.jpg" alt="Eglise de Cergy-Village" />
<h3>Dupont MARIE</h3>
<p>2ème adjoint
Finance – Sécurité positive</p>
<img src="images/Sylvie-Batacle-478x720.jpg" alt="Eglise de Cergy-Village" />
<h3>Sylvie BATACLE</h3>
<p>3ème adjoint
</div>

<img src="images/Jack-Auzane-478x720.jpg" alt="Eglise de Cergy-Village" />
<h3>Jack AUZANE</h3>
<p>4ème adjoint
Bâtiments communaux – Patrimoine</p>
<img src="images/Brigitte-Heuracle-478x720.jpg" alt="Eglise de Cergy-Village" />
<h3>Brigitte HEURACLE</h3>
<p>5ème adjoint
Information – Communication – Informatique</p>


<h2>Vos conseillers délégués</h2>
<img src="images/Elise-Ignoti-478x720.jpg" alt="Eglise de Cergy-Village" />
<h3>Elise IGNOTI</h3>
<p>Fêtes et cérémonies</p>
<img src="images/Salouha-Belkessam-478x720.jpg" alt="Eglise de Cergy-Village" />
<h3>SALOUHA BELKESSAM</h3>
<p>Affaires sanitaires</p>
<img src="images/Adama-Camara-478x720.jpg" alt="Eglise de Cergy-Village" />
<h3>ADAMA CAMARA</h3>
<p>Service technique – Entretien des infrastructures</p>


<h2>Vos conseillers municipaux</h2>
<img src="images/Jennifer-Yahia-Chérif-478x720.jpg" alt="Eglise de Cergy-Village" />
<h3>Jennifer YAHIA-CHERIF</h3>
<img src="images/Paul-Saubatte-478x720.jpg" alt="Eglise de Cergy-Village" />
<h3>Paul SAUBATTE</h3>
<img src="images/Cassandra-Vallerant-478x720.jpg" alt="Eglise de Cergy-Village" />
<h3>Cassandra VALLERANT</h3>
<img src="images/Pierre-Trottier-478x720.jpg" alt="Eglise de Cergy-Village" />
<h3>Pierre TROTTIER</h3>
<img src="images/Sofia-Da-Silva-478x720.jpg" alt="Eglise de Cergy-Village" />
<h3>Sofia DA SILVA</h3>
<style>
.item {
      
  vertical-align: middle
}

img {
    width: 15%;
    height: 15%;
}
</style>
{% endblock %}