{% extends 'base.html.twig' %}

{% block title %}Accessibilité{% endblock %}

{% block body %}
<h1>Espace admin</h1>
<ul>
	<li>
		<a href="{{ path('user_index') }}">Gestion des comptes utilisateurs</a>
	</li>
	<li>
		<a href="{{ path('article_index') }}">Gestion des articles</a>
	</li>
	<li>
		<a href="{{ path('message_index') }}">Gestion des messages</a>
	</li>
	<li>
		<a href="">Gestion des établissements scolaires</a>
	</li>
	<li>
		<a href="">Gestion des associations</a>
	</li>
{% endblock %}
