<footer class="mt-5 bg-light py-5 text-center">
	<ul>
		<li>
			<a href="">Nous contacter</a>
		</li>
		<li>
			<a href="{{ path('home_accessibility') }}">Accessibilité</a>
		</li>
		<li>
			<a href="">Mentions légales</a>
		</li>
		<li>
			<a href="{{ path('home_admin') }}">Espace admin</a>
		</li>
	</ul>
</footer>