  <div style="padding-bottom:300px"></div>
 
 {# Block bleu#}
    <div style="background-color:#4464bc;margin-bottom:0;position: static;left: 0px; width: 100%; display:block; height: 230px">
        <div style="position: relative; top: 20px; left: 2%;color:white;font-family: Gravity;">HORAIRES D’OUVERTURE<br><br><br>Du Lundi au Mercredi : <br>de 08h30 à 12h00 <br>de 13h30 à 17h00<br><br>Le Jeudi : de 08h30 à 12h00</div>
        <div style="position: relative;top: -110px; left: 250px;color:white;">Le Vendredi : <br>de 08h30 à 12h00 <br>de 13h30 à 17h00<br><br> Le Samedi : <br>de 10h00 à 12h00</div>
        <div style="position: relative;top: -315px; left: 82%;color:white; left: 1022px">CONTACT<br><br><br> 10, place de la mairie <br>95880 Cergy-village<br><br> Téléphone : +33 1 34 25 60 00</div>
        <div style="background-color:white;height:1.5px;position: relative; top: -459px;width:75px; right: -1022px"></div>
        <div style="background-color:white;height:1.5px;position: relative; top: -462px;width:195px; right: -24px"></div>
    </div>