{% extends 'base.html.twig' %}

{% block title %}Caisse des Ecoles{% endblock %}

{% block body %}

    <h1>CAISSE DES ECOLES</h1>
        <p>
            La caisse des écoles réunit parents, élus, enseignants et amis des écoles pour décider de tout ce qui concerne les deux écoles de Fontenay-en-Parisis.
            Son budget vient essentiellement de la subvention communale, des bénéfices produits par le spectacle des écoles et des dons des familles qui peuvent en devenir sociétaires, ou des communes extérieures.
            L’assemblée générale de la caisse des écoles se déroule mi-novembre.
        </p>
{% endblock %}