{% extends 'base.html.twig' %}

{% block title %}Caisse des Ecoles{% endblock %}

{% block body %}
<div style= "margin-top: 50px">

    <h1>CAISSE DES ECOLES</h1>
    <div style="height: 2px; width: 100%;  background: linear-gradient(to right, #4464BC, #E8ECF7);" class="item"></div>
</div>

<br/><br/></br>
        <p>
            La caisse des écoles réunit parents, élus, enseignants et amis des écoles pour décider de tout ce qui concerne les deux écoles de Fontenay-en-Parisis.<br/>
            Son budget vient essentiellement de la subvention communale, des bénéfices produits par le spectacle des écoles et des dons des familles qui peuvent<br/> en devenir sociétaires, ou des communes extérieures.
            L’assemblée générale de la caisse des écoles se déroule mi-novembre.
        </p>

<style>
h1 {
    margin-left : 15px;
}

.item {
      
  vertical-align: middle
}
p {
    text-align: center
}

</style>                
{% endblock %}