{% extends 'base.html.twig' %}

{% block title %}Cantine{% endblock %}

{% block body %}
<div class="container-fluid">

    <h1>Cantine</h1>
    <div style="height: 2px; width: 100%;  background: linear-gradient(to right, #4464BC, #E8ECF7);" class="item"></div>

    <h2 class="mt-5">Menu</h2>
    <p>Il n'y actuellement pas de cantine à cause du covid-19.</p>
</div>
       
{% endblock %}