{% extends 'base.html.twig' %}

{% block title %}Centre Loisirs{% endblock %}

{% block body %}

    <h1>CENTRES LOISIRS</h1>

        <h2>Le Centre de Loisirs de Cergy-village</h2>
            <p>
                12 rue de la prévoyance 95000 Cergy-village
                01 43 65 75 32
                Horaires d'ouvertures : 
                Du Lundi au Vendredi : de 10h à 20h
                Le Samedi de 9h à 12h 
            </p>
        <img src="images/centre-loisirs.jpg" />    
{% endblock %}