{% extends 'base.html.twig' %}

{% block title %}Centre Loisirs{% endblock %}

{% block body %}
<div style= "margin-top: 50px">

    <h1>CENTRES LOISIRS</h1>
    <div style="height: 2px; width: 100%;  background: linear-gradient(to right, #4464BC, #E8ECF7);" class="item"></div>
</div>

<br/><br/></br>

        <h2>Le Centre de Loisirs de Cergy-village</h2><br/>
            <p>
                12 rue de la prévoyance 95000 Cergy-village<br/>
                01 43 65 75 32<br/>
                Horaires d'ouvertures : <br/>
                Du Lundi au Vendredi : de 10h à 20h<br/>
                Le Samedi de 9h à 12h 
            </p>
        <center><img src="images/centre-loisirs.jpg" /> </center>

<style>
h1 {
    margin-left : 15px;
}

.item {
      
  vertical-align: middle
}
p,h2 {
    text-align: center
}

</style>                        
{% endblock %}