{% extends 'base.html.twig' %}

{% block title %}Collège et Lycée{% endblock %}

{% block body %}
    <h1>COLLÈGE ET LYCÉE</h1>

        <h2>Collège Saint Barthélémy</h2>
            <p>
                Place de l’Europe
                95270 Luzarches
                01 30 29 55 19
            </p>

        <h2>Lycée Jean François</h2>
            <p>
                Place de l’Europe
                95270 Luzarches
                01 30 29 55 00
            </p>
    


{% endblock %}