{% extends 'base.html.twig' %}

{% block title %}Collège et Lycée{% endblock %}

{% block body %}
<div style= "margin-top: 50px">
    <h1>COLLÈGE ET LYCÉE</h1>
    <div style="height: 2px; width: 100%;  background: linear-gradient(to right, #4464BC, #E8ECF7);" class="item"></div>
</div>

<br/><br/></br>

        <h2>Collège Saint Barthélémy</h2>
            <p>
                Place de l’Europe
                95270 Luzarches
                01 30 29 55 19
            </p>
        <br/><br/>
        <h2>Lycée Jean François</h2>
            <p>
                Place de l’Europe
                95270 Luzarches
                01 30 29 55 00
            </p>
    

<style>
h1,h2 {
    margin-left : 15px;
}

.item {
      
  vertical-align: middle
}
p {
    margin-left : 30px;
}
</style>
{% endblock %}