{% extends 'base.html.twig' %}

{% block title %}Ecole Primaire{% endblock %}

{% block body %}
<div style= "margin-top: 50px">
    <h1>ECOLE PRIMAIRE</h1>
    <div style="height: 2px; width: 100%;  background: linear-gradient(to right, #4464BC, #E8ECF7);" class="item"></div>
</div>

<br/><br/></br>
        <h2 style="text-decoration: underline #5A8E46">Ecole maternelle Françoise Dolto</h2>
            <p>Coordonnées :</p>
            <p>
                rue Achille Antheaume
                01.34.71.81.02
            </p>
            <p>Directrice : Catherine Pillitteri</p>
            <p>Les classes :</p>
            <ul>
                <li>Petite Section : Catherine Pillitteri – ATSEM : Véronique Mercier</li>
                <li>Petite et Moyenne Section : Stéphane Ngo – ATSEM : Cindy Vynisale-Herlin</li>
                <li>Moyenne et Grande Section : Mylène Hebert – ATSEM : Nathalie Kadjo</li>
                <li>Moyenne et Grande Section : Emilie Bugot – ATSEM : Ghislaine Dastugue</li>
            </ul>
            <p>Horaires :</p>
            <p>Lundi, mardi, jeudi, vendredi : 08h30 – 11h30 et 13h30 – 16h30</p>

        
        <h2 style="text-decoration: underline #5A8E46">Ecole élémentaire Les hirondelles</h2>
            <p>Coordonnées :</p>
            <p>
                10 place Stalingrad
                01 34 71 17 05
            </p>
            <p>Directeur : Jean-Francois Cochet</p>
            <p>Les classes :</p>
            <ul>
                <li>CP : Mme Becquet</li>
                <li>CP-CE1 : Mme Varnier</li>
                <li>CE1-CE2 : M Cochet et Mme Daeldyck</li>
                <li>CE2 : M Gomez</li>
                <li>CE2-CM1 : Mme Ferreira</li>
                <li>CM1-CM2a : Mme Brion-Guichard</li>
                <li>CM1-CM2b : Mme Tréhout</li>
            </ul>
            <p>Horaires :</p>
            <p>Lundi, mardi, jeudi, vendredi : 08h30 – 11h30 et 13h30 – 16h30</p>

           <style>
h1,p,h2 {
    margin-left : 15px;
}

.item {
      
  vertical-align: middle
}
</style>
{% endblock %}