{% extends 'base.html.twig' %}

{% block title %}Ecole Primaire{% endblock %}

{% block body %}

    <h1>ECOLE PRIMAIRE</h1>
        <h2>Ecole maternelle Françoise Dolto</h2>
            <p>Coordonnées :</p>
            <p>
                 rue Achille Antheaume
                01.34.71.81.02
            </p>
            <p>Directrice : <p>Catherine Pillitteri</p></p>
            <p>Les classes :</p>
            <ul>
                <li>Petite Section <p>: Catherine Pillitteri – ATSEM : Véronique Mercier</p></li>
                <li>Petite et Moyenne Section<p>: Stéphane Ngo – ATSEM : Cindy Vynisale-Herlin</p></li>
                <li>Moyenne et Grande Section<p>: Mylène Hebert – ATSEM : Nathalie Kadjo</p></li>
                <li>Moyenne et Grande Section<p>: Emilie Bugot – ATSEM : Ghislaine Dastugue</p></li>
            </ul>
            <p>Horaires :</p>
            <p>Lundi, mardi, jeudi, vendredi : 08h30 – 11h30 et 13h30 – 16h30</p>

        
        <h2>Ecole élémentaire Les hirondelles</h2>
            <p>Coordonnées :</p>
            <p>
                10 place Stalingrad
                01 34 71 17 05
            </p>
            <p>Directeur :  <p>Jean-Francois Cochet</p></p>
            <p>Les classes :</p>
            <ul>
                <li>CP : <p>Mme Becquet</p></li>
                <li>CP-CE1 :<p>Mme Varnier</p></li>
                <li>CE1-CE2 :<p>M Cochet et Mme Daeldyck</p></li>
                <li>CE2 :<p>M Gomez</p></li>
                <li>CE2-CM1 :<p>Mme Ferreira</p></li>
                <li>CM1-CM2a :<p>Mme Brion-Guichard</p></li>
                <li>CM1-CM2b :<p>Mme Tréhout</p></li>
            </ul>
            <p>Horaires :</p>
            <p>Lundi, mardi, jeudi, vendredi : 08h30 – 11h30 et 13h30 – 16h30</p>
{% endblock %}