{% extends 'base.html.twig' %}

{% block title %}Petite Enfance{% endblock %}
{% block body %}

<div style= "margin-top: 50px">
    <h1>PETITE ENFANCE</h1>
<div style="height: 2px; width: 100%;  background: linear-gradient(to right, #4464BC, #E8ECF7);" class="item"></div>
</div>

<br/><br/></br>
        <h2 style="text-decoration: underline #5A8E46">Assistantes maternelles</h2>
            <pre>
                
  DARKAOUI (TALEB) Zineb  14 rue du clos Bouchard  01.34.68.11.53	<br/>
  GILANT (GIRONDA) Nathalie  52 parc des Tournelles  09.84.11.55.14	<br/>
  MALARD Thérèse  54 rue Ambroise Jacquin  06.22.58.38.06	<br/>
  MARCHAIS Nathalie  33 rue Ambroise Jacquin  01.78.86.44.15	<br/>
  MORELLEC Odile  14 avenue du Général De Gaulle  06.64.23.25.09	<br/>
  OLIVEIRA (RITO) Odette  1 rue de la Croix de la Chaise  06.34.99.82.00	<br/>
  PETIOT Nathalie  14 rue de la Plaine de France  06.68.19.69.78	<br/>
  SADON (BOULANGER) Aurélie  12 rue du jardin  06.16.38.06.45	<br/>
  TARI (DECATE) Marie-Françoise  3 rue Achille Antheaume  06.71.99.66.35	
            </pre>

<style>
h1,h2 {
    margin-left : 15px;
}

.item {
      
  vertical-align: middle
}
</style>

{% endblock %}
