{% extends 'base.html.twig' %}

{% block title %}Petite Enfance{% endblock %}

{% block body %}

<div class="container-fluid">
    
    <h1>PETITE ENFANCE</h1>
    <div style="height: 2px; width: 100%;  background: linear-gradient(to right, #4464BC, #E8ECF7);" class="item"></div>


    <h2 class="mt-5" style="text-decoration: underline #5A8E46">Assistantes maternelles</h2>

    <div class="d-md-flex mt-3">
        <div class="col-md-4">  
            <div class="jumbotron text-center blog-main shadow-sm p-3 mb-5 rounded" style="background-color:#e8ecf7;"> 
                <h4 class="card-title h4 pb-2"><strong>DARKAOUI (TALEB) Zineb</strong></h4>
                <p>
                    14 rue du clos Bouchard<br/>
                    01.34.68.11.53
                </p>
            </div>
        </div>
        <div class="col-md-4">  
            <div class="jumbotron text-center blog-main shadow-sm p-3 mb-5 rounded" style="background-color:#e8ecf7;">
                <h4 class="card-title h4 pb-2"><strong>GILANT (GIRONDA) Nathalie</strong></h4>
                <p>
                    52 parc des Tournelles<br/>
                    09.84.11.55.14
                </p>
            </div>
        </div>
        <div class="col-md-4">  
            <div class="jumbotron text-center blog-main shadow-sm p-3 mb-5 rounded" style="background-color:#e8ecf7;">
                <h4 class="card-title h4 pb-2"><strong>MALARD Thérèse</strong></h4>
                <p>
                    54 rue Ambroise Jacquin<br/>
                    06.22.58.38.06
                </p> 
            </div>
        </div>
    </div>

    <div class="d-md-flex">
        <div class="col-md-4">  
            <div class="jumbotron text-center blog-main shadow-sm p-3 mb-5 rounded" style="background-color:#e8ecf7;"> 
                <h4 class="card-title h4 pb-2"><strong>MARCHAIS Nathalie</strong></h4>
                <p>
                    33 rue Ambroise Jacquin<br/>
                    01.78.86.44.15
                </p>
            </div>
        </div>
        <div class="col-md-4">  
            <div class="jumbotron text-center blog-main shadow-sm p-3 mb-5 rounded" style="background-color:#e8ecf7;"> 
                <h4 class="card-title h4 pb-2"><strong>MORELLEC Odile</strong></h4>
                <p>
                    14 avenue du Général De Gaulle<br/>
                    06.64.23.25.09
                </p>
            </div>
        </div>
        <div class="col-md-4">  
            <div class="jumbotron text-center blog-main shadow-sm p-3 mb-5 rounded" style="background-color:#e8ecf7;"> 
                <h4 class="card-title h4 pb-2"><strong>OLIVEIRA (RITO) Odette</strong></h4>
                <p>
                    1 rue de la Croix de la Chaise<br/>
                    06.34.99.82.00
                </p>
            </div>
        </div>
    </div>

    <div class="d-md-flex">
        <div class="col-md-4">  
            <div class="jumbotron text-center blog-main shadow-sm p-3 mb-5 rounded" style="background-color:#e8ecf7;"> 
                <h4 class="card-title h4 pb-2"><strong>PETIOT Nathalie</strong></h4>
                <p>
                    14 rue de la Plaine de France<br/>
                    06.68.19.69.78
                </p>
            </div>
        </div>
        <div class="col-md-4">  
            <div class="jumbotron text-center blog-main shadow-sm p-3 mb-5 rounded" style="background-color:#e8ecf7;">
                <h4 class="card-title h4 pb-2"><strong>SADON (BOULANGER) Aurélie</strong></h4>
                <p>
                    12 rue du jardin<br/>
                    06.16.38.06.45
                </p> 
            </div>
        </div>
        <div class="col-md-4">  
            <div class="jumbotron text-center blog-main shadow-sm p-3 mb-5 rounded" style="background-color:#e8ecf7;">
                <h4 class="card-title h4 pb-2"><strong>TARI (DECATE) Marie-Françoise</strong></h4>
                <p>
                    3 rue Achille Antheaume<br/>
                    06.71.99.66.35
                </p> 
            </div>
        </div>
    </div>
</div>


{% endblock %}
