{% extends 'base.html.twig' %}

{% block title %}Petite Enfance{% endblock %}
    <h1>PETITE ENFANCE</h1>

        <h2>Assistantes maternelles</h2>
            <p>
                Nom	Adresse	Téléphone	Capacité d’accueil
                DARKAOUI (TALEB) Zineb	14 rue du clos Bouchard	01.34.68.11.53	3
                GILANT (GIRONDA) Nathalie	52 parc des Tournelles	09.84.11.55.14	4
                MALARD Thérèse	54 rue Ambroise Jacquin	06.22.58.38.06	3
                MARCHAIS Nathalie	33 rue Ambroise Jacquin	01.78.86.44.15	3
                MORELLEC Odile	14 avenue du Général De Gaulle	06.64.23.25.09	4
                OLIVEIRA (RITO) Odette	1 rue de la Croix de la Chaise	06.34.99.82.00	4
                PETIOT Nathalie	14 rue de la Plaine de France	06.68.19.69.78	3
                SADON (BOULANGER) Aurélie	12 rue du jardin au prêtre	06.16.38.06.45	4
                TARI (DECATE) Marie-Françoise	 3 rue Achille Antheaume	06.71.99.66.35	4
            </p>
{% block body %}

{% endblock %}
