{{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
	<legend>Compléter le formulaire de contact</legend>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
