{% extends 'base.html.twig' %}

{% block title %}Modification mairie{% endblock %}

{% block body %}
    <h1>Modification mairie</h1>

    {{ include('town_hall/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
