{% extends 'base.html.twig' %}

{% block title %}Edit TownHall{% endblock %}

{% block body %}
    <h1>Edit TownHall</h1>

    {{ include('town_hall/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('town_hall_index') }}">back to list</a>

    {{ include('town_hall/_delete_form.html.twig') }}
{% endblock %}
