{% extends 'base.html.twig' %}

{% block title %}Structure index{% endblock %}

{% block body %}
{% for townhall in town_halls %}
<p>Monsieur <strong>{{ townhall.nameMayor }}</strong> ,maire de <strong>{{ townhall.name }}</strong></p>
<img src="{{ vich_uploader_asset(townhall, 'imageFile') }}" alt="" />
{% endfor %}
{% endblock %}