{% extends 'base.html.twig' %}

{% block title %}Village {{ town_hall.name }} | Histoire{% endblock %}

{% block body %}
    <h1>Village {{ town_hall.name }} – Histoire</h1>
	<p>{{ town_hall.story }}</p>
{% endblock %}