{% extends 'base.html.twig' %}

{% block title %}Annuaire des Associations{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}

<h1>ANNUAIRE DES ASSOCIATIONS</h1>

<h2>Loisirs</h2>

<h2>Sport</h2>

<h2>Divers</h2>



{% include 'partials/footer.html.twig' %}
{% endblock %}
