{% extends 'base.html.twig' %}

{% block title %}Annuaire des Associations{% endblock %}

{% block body %}
<div style= "margin-top: 50px">

<h1>ANNUAIRE DES ASSOCIATIONS</h1>
<div style="height: 2px; width: 100%;  background: linear-gradient(to right, #4464BC, #E8ECF7);" class="item"></div>
    </div>
    <br/><br/><br/>
<h2>Loisirs</h2>
<p>
    Associations de Théâtre</br>

    4 rue de gastronomie</br>
    95000 Cergy-Village</br>
    06 82 24 70 25</br>
    e-mail : asso.theatre@gmail.com</br></br>

    Assocation de Lecture </br>

    6 rue de la plaines </br>
    95000 Cergy-Village</br>
    06 82 24 70 26</br>
    e-mail : asso.lecture@gmail.com</br></br>
</p>
<h2>Sport</h2>

<p>
    Associations de Football</br>

    8 rue de la plaines</br>
    95000 Cergy-Village</br>
    06 82 24 70 27</br>
    e-mail : asso.football@gmail.com</br></br>

    Association de Pétanque</br>

    10 rue de la plaines</br>
    95000 Cergy-Village</br>
    06 82 24 70 27</br>
    e-mail : asso.petanque@gmail.com</br></br>
</p>

<h2>Divers</h2>

<p>
    Associations de Parents d'Elèves </br>

    10 rue des ecoles</br>
    95000 Cergy-Village</br>
    06 82 24 70 27</br>
    e-mail : asso.p-eleve@gmail.com</br>
</p>

 <style>
    .item {
      
        vertical-align: middle
    }

    h1,h2,p {
        margin-left: 15px
    }


    </style>          


{% endblock %}
