{% extends 'base.html.twig' %}

{% block title %}Espace Culturelle{% endblock %}

{% block body %}

<h1>ESPACE CULTUREL</h1>

    <p>
        Espace culturel
        Foyer Polyvalent
        Allée de Rosières
        95000 Cergy-Village
        (Accès Théâtre de Verdure)
        e-mail : cergy-village@village-online.com
    </p>
    <h2>Horaires d’ouverture :</h2>
        <ul>
            <li>Mardi : 9h00 – 12h00</li>
            <li>Mercredi : 14h00 – 18h00</li>
            <li>Vendredi : 16h30 – 18h00</li>
            <li>Samedi : 10h00 – 12h00</li>
        </ul>
    <img src="images/foyer-polyvalent.jpg"/>   
{% endblock %}