{% extends 'base.html.twig' %}

{% block title %}Espace Culturelle{% endblock %}

{% block body %}

<div style= "margin-top: 50px">
<h1>ESPACE CULTUREL</h1>
<div style="height: 2px; width: 100%;  background: linear-gradient(to right, #4464BC, #E8ECF7);" class="item"></div>
</div>

<br/><br/></br>
    <p>
        Espace culturel
        Foyer Polyvalent<br/>
        Allée de Rosières
        95000 Cergy-Village
        (Accès Théâtre de Verdure)<br/>
        e-mail : cergy-village@village-online.com
    </p>
    <h2>Horaires d’ouverture :</h2>
            <p>
            Mardi : 9h00 – 12h00<br/>
            Mercredi : 14h00 – 18h00<br/>
            Vendredi : 16h30 – 18h00<br/>
            Samedi : 10h00 – 12h00<br/>
            </p>
    <center><img src="images/foyer-polyvalent.jpg"/></center>

    <style>
h1 {
    margin-left : 15px;
}

.item {
      
  vertical-align: middle
}
h2,p {
    text-align:center;
}


</style>   
{% endblock %}