{% extends 'base.html.twig' %}

{% block title %}Location de Salle{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}

<h1>LOCATION DE SALLE</h1>

    <h2>Salle Michel Collucci</h2>
        <p>
            3 Rue de la paix 95000 Cergy-Village.
            Location et Réservation : 01 32 45 54 32
                La salle peut être réservée du Mardi au Dimanche, de 12h à 00h.
        <p>
{% include 'partials/footer.html.twig' %}
{% endblock %}