{% extends 'base.html.twig' %}

{% block title %}Location de Salle{% endblock %}

{% block body %}
<div style= "margin-top: 50px">

<h1>LOCATION DE SALLE</h1>
<div style="height: 2px; width: 100%;  background: linear-gradient(to right, #4464BC, #E8ECF7);" class="item"></div>
    </div>
    <br/><br/><br/>

    <h2 style="text-decoration: underline #5A8E46; text-align: center">Salle Michel Collucci</h2><br/>
        <p style="text-align: center">
            3 Rue de la paix 95000 Cergy-Village.<br/>
            Location et Réservation : 01 32 45 54 32<br/>
                La salle peut être réservée du Mardi au Dimanche, de 12h à 00h.<br/>
        <p>
     
        <img src="images/interieur-salle-fête.jpg" style=" height: 370px; display: inline-block;"/>
        <img src="images/salle-fete-exterieur.jpg" style=" height: 370px; display: inline-block;" />
        

 <style>
    .item {
      
        vertical-align: middle
    }

    h1,h2,p {
        margin-left: 15px
    }


    </style>                 
{% endblock %}