{% extends 'admin/base.html.twig' %}

{% block title %}Espace admin{% endblock %}

{% block body %}
	<div style="height: 100vh;">
		<div class="border d-flex align-items-center justify-content-center h-100" style="background:#1a2647;">
			<h1 class="text-white">Bienvenue {{app.user.firstname}} {{app.user.lastname}}</h1>
		</div>
	</div>

{% endblock %}
