{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}

<h1>Contact</h1>
{% include 'partials/footer.html.twig' %}
{% endblock %}
