{% extends 'base.html.twig' %}

{% block title %}Cimetière{% endblock %}

{% block body %}
    <div style= "margin-top: 50px">
    <h1>CIMETIÈRE</h1>
    <div style="height: 2px; width: 100%;  background: linear-gradient(to right, #4464BC, #E8ECF7);" class="item"></div>
    </div>
    <br/><br/><br/>
        <p>
            Le cimetière est ouvert au public tous les jours de 8h00 à 18h30.<br/>
            Au 3 rue de la Plaine Cergy-Village.
        </p>

   <style>
    .item {
      
        vertical-align: middle
    }

    h1,p {
        margin-left: 15px
    }


    </style>          

{% endblock %}