{% extends 'base.html.twig' %}

{% block title %}Cimetière{% endblock %}

{% block body %}
    <h1>CIMETIÈRE</h1>
        <p>
            Le cimetière est ouvert au public tous les jours de 8h00 à 18h30.
            Au 3 rue de la Plaine Cergy-Village.
        </p>

       

{% endblock %}