{% extends 'base.html.twig' %}

{% block title %}Commerces{% endblock %}

{% block body %}
<div style= "margin-top: 50px">
<h1>COMMERCES</h1>
<div style="height: 2px; width: 100%;  background: linear-gradient(to right, #4464BC, #E8ECF7);" class="item"></div>
</div>
<br/><br/><br/>
<h2>Annuaire des commerçants</h2><br/>

<h3>Alimentation</h3><br/>
<p>
Boulangerie du village : Boulangerie Pâtisserie<br/>

32 rue Ambroise Jacquin<br/>

Tel. 01 34 68 01 34<br/>

Horaires :<br/>

du lundi au samedi : 7h00-20h00<br/>
dimanche : 7h00-14h00<br/><br/>
</p>

<h3>Bricolage</h3><br/>
<p>
Bigmat Borgetto Matériaux : Négoce de matériaux de construction<br/>

CD 47 – route de Goussainville<br/>

01 34 71 15 30 | 01 34 71 81 30<br/><br/>

Horaires d’été :<br/><br/>

du lundi au vendredi : 7h30 – 12h00 /13h30 – 17h30<br/>
samedi : 7h30 – 12h00<br/>
dimanche : Fermé<br/><br/>
Horaires d’hiver :<br/><br/>

du lundi au vendredi : 8h00 – 12h00 / 13h30 – 17h30<br/>
 samedi : 8h00 – 12h00<br/>
dimanche : Fermé<br/><br/>
</p>

<h3>Café-Restaurant</h3><br/>
<p>
Au coucou : bar – tabac- journaux- restaurant<br/>

16 rue Ambroise Jacquin<br/>

01 34 71 11 10<br/><br/>

Horaires d’été :<br/><br/>

du lundi au vendredi : 7h00 – 20h00<br/>
samedi : 8h00 – 20h00<br/><br/>
</p>

<h3>Décoration</h3>
<p>
CCG Peinture : Revêtement sols et murs<br/>

18 rue Albert Galle<br/>

06 12 04 20 14 | 01 34 71 87 99<br/><br/>
</p>

<h3>Matériel agricole</h3><br/>
<p>
Motobrie : Vente et réparation de matériel agricole<br/>

3 rue Maître Renault<br/>

01 34 71 11 03 | 01 34 71 13 14<br/><br/>

Horaires :<br/><br/>

Du lundi au jeudi : 8h00 – 12h00 13h30 – 17h30<br/>
 Vendredi : 8h00 – 12h00 13h30 – 16h30/ Fermé le week-end<br/><br/>
</p>

<h3>Travaux-Bâtiment</h3><br/>
<p>
C de Brito : Maçonnerie<br/>

3 rue du Frontignon<br/>

01 34 09 07 54<br/><br/>

Fabrice Mallard : Maçonnerie<br/>

2 rue Montoir<br/>

01 34 71 83 19<br/><br/>

Ludovic Tholly : Plomberie, chauffage, rénovation d’intérieur<br/>

34 clos Marie<br/>

06 61 65 37 70 | tholly.ludovic@gmail.com<br/><br/>

Électricité Générale : Travaux et installation d’électricité<br/>

Jean-Luc Decottignies<br/>

19 rue Clos Marie<br/>

01 34 09 02 59 | 01 34 71 11 49<br/><br/>
</p>

<h3>Loisirs</h3><br/>
<p>
HARAS DU PARISIS : Ecuries Jean-Marie Colot<br/>
Fontenay en Parisis<br/>
09 66 87 03 19<br/>
</p>

<style>
.item {
      
  vertical-align: middle
}

h2{
    text-decoration: underline #5A8E46;
}

h1,h2,p,h3 {
  margin-left: 15px;
}

</style>
{% endblock %}