{% extends 'base.html.twig' %}

{% block title %}Commerces{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
<h1>COMMERCES</h1>
<h2>Annuaire des commerçants</h2>
{% include 'partials/footer.html.twig' %}
{% endblock %}