{% extends 'base.html.twig' %}

{% block title %}Déchêts{% endblock %}

{% block body %}
    <div style= "margin-top: 50px">
    <h1>DÉCHETS</h1>
    <div style="height: 2px; width: 100%;  background: linear-gradient(to right, #4464BC, #E8ECF7);" class="item"></div>
    </div>
    <br/><br/><br/>
    <h2>Informations générales</h2>
    <p>
        Les ordures ménagères sont ramassées le mercredi après-midi.
        Vos contenants doivent être sortis devant votre domicile le jour de la collecte avant 12h.
        Les containers de tri sélectif sont ramassés le vendredi matin.
        Vos contenants doivent être sortis devant votre domicile au plus tôt la veille à partir de 20h.
    </p>
    <h2>Apports volontaires</h2>
    <p>
        Colonnes :
        Place du Gué aux chevaux, devant le foyer polyvalent, à proximité du cimetière
    </p>
    <h2>Déchèterie</h2>
    <p>
        Décheterie à proximité : <br/><br/>
        
        Déchèterie de Bouqueval – Le Plessis-Gassot<br/>
        Route d’Écouen<br/>
        95270 BOUQUEVAL<br/><br/>

        Horaires d’ouverture :<br/><br/>

        Du 1er avril au 31 octobre <br/><br/>

        Du lundi au mercredi : 9h – 12h / 14h – 18h30.<br/>
        Fermée le jeudi<br/>
        Vendredi : 9h – 12h / 14h – 19h30<br/>
        Samedi : 9h – 19h<br/>
        Dimanche : 9h – 13h<br/><br/>

        Du 1er novembre au 31 mars <br/><br/>

        Du lundi au mercredi : 9h – 12h / 14h – 17h30<br/>
        Fermée le jeudi<br/>
        Vendredi : 9h – 12h / 14h – 18h30<br/>
        Samedi : 9h – 18h<br/>
        Dimanche : 9h – 13h<br/><br/>


        Déchèterie de Sarcelles<br/>
        rue des cultivateurs – ZAE des Tissonvilliers<br/>
        95200 SARCELLES<br/><br/>

        Horaires d’ouverture :<br/><br/>

        du 1er avril au 31 octobre<br/><br/>

        du lundi au vendredi : 9h – 12h / 14h – 18h30<br/>
        samedi : 9h – 18h30<br/>
        dimanche : 9h – 13h<br/>

        du 1er novembre au 31 mars<br/><br/>

        du lundi au vendredi : 9h – 12h / 14h – 17h30<br/>
        samedi : 9h – 17h30<br/>
        dimanche : 9h – 13h<br/><br/>

        Déchèterie de Gonesse<br/>
        17 rue Gay Lussac ZA la Grande Couture EST<br/>
        95500 GONESSE<br/><br/>

        Horaires d’ouverture :<br/><br/>

        du 1er avril au 31 octobre<br/><br/>

        du lundi au vendredi : 9h – 12h / 14h – 18h<br/>
        samedi 9h – 18h30<br/>
        dimanche : 9h – 13h<br/>

        du 1er novembre au 31 mars<br/><br/>

        du lundi au vendredi : 9h – 12 h / 14h – 17h30<br/>
        samedi : 9h – 17h30<br/>
        dimanche : 9h – 13h<br/><br/>

        Déchèterie de Louvres<br/>
        avenue du Beaumontoir – ZA le Roncé<br/>
        95380 LOUVRES<br/>

        Horaires d’ouverture :<br/><br/>

        du 1er avril au 31 octobre<br/><br/>

        du lundi au vendredi (sauf mardi) : 9h – 12h / 14h – 18h<br/>
        samedi : 9h – 18h<br/>
        dimanche : 9h – 13h<br/><br/>

        du 1er novembre au 31 mars<br/><br/>

        du lundi au vendredi (sauf mardi) : 9h – 12h / 14h – 17h<br/>
        samedi : 9h – 17h<br/>
        dimanche : 9h – 13h<br/><br/>
    </p>
    
    <style>
    .item {
      
        vertical-align: middle
    }

    h2{
        text-decoration: underline #5A8E46;
    }

    h1,h2,p {
        margin-left: 15px
    }


    </style>
{% endblock %}