{% extends 'base.html.twig' %}

{% block title %}Déchêts{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
    <h1>DÉCHETS</h1>
    <h2>Informations générales</h2>
    <p>
        Les ordures ménagères sont ramassées le mercredi après-midi.
        Vos contenants doivent être sortis devant votre domicile le jour de la collecte avant 12h.
        Les containers de tri sélectif sont ramassés le vendredi matin.
        Vos contenants doivent être sortis devant votre domicile au plus tôt la veille à partir de 20h.
    </p>
    <h2>Apports volontaires</h2>
    <p>
        Colonnes :
        Place du Gué aux chevaux, devant le foyer polyvalent, à proximité du cimetière
    </p>
    <h2>Déchèterie</h2>
    <p>
        Décheterie à proximité : 
        
        Déchèterie de Bouqueval – Le Plessis-Gassot
        Route d’Écouen
        95270 BOUQUEVAL

        Horaires d’ouverture

        Du 1er avril au 31 octobre

        Du lundi au mercredi : 9h – 12h / 14h – 18h30.
        Fermée le jeudi
        Vendredi : 9h – 12h / 14h – 19h30
        Samedi : 9h – 19h
        Dimanche : 9h – 13h
        Du 1er novembre au 31 mars

        Du lundi au mercredi : 9h – 12h / 14h – 17h30
        Fermée le jeudi
        Vendredi : 9h – 12h / 14h – 18h30
        Samedi : 9h – 18h
        Dimanche : 9h – 13h
        Déchèterie de Sarcelles
        rue des cultivateurs – ZAE des Tissonvilliers
        95200 SARCELLES

        Horaires d’ouverture

        du 1er avril au 31 octobre

        du lundi au vendredi : 9h – 12h / 14h – 18h30
        samedi : 9h – 18h30
        dimanche : 9h – 13h

        du 1er novembre au 31 mars

        du lundi au vendredi : 9h – 12h / 14h – 17h30
        samedi : 9h – 17h30
        dimanche : 9h – 13h

        Déchèterie de Gonesse
        17 rue Gay Lussac ZA la Grande Couture EST
        95500 GONESSE

        Horaires d’ouverture

        du 1er avril au 31 octobre

        du lundi au vendredi : 9h – 12h / 14h – 18h
        samedi 9h – 18h30
        dimanche : 9h – 13h

        du 1er novembre au 31 mars

        du lundi au vendredi : 9h – 12 h / 14h – 17h30
        samedi : 9h – 17h30
        dimanche : 9h – 13h

        Déchèterie de Louvres
        avenue du Beaumontoir – ZA le Roncé
        95380 LOUVRES

        Horaires d’ouverture

        du 1er avril au 31 octobre

        du lundi au vendredi (sauf mardi) : 9h – 12h / 14h – 18h
        samedi : 9h – 18h
        dimanche : 9h – 13h

        du 1er novembre au 31 mars

        du lundi au vendredi (sauf mardi) : 9h – 12h / 14h – 17h
        samedi : 9h – 17h
        dimanche : 9h – 13h
    </p>
{% include 'partials/footer.html.twig' %}
{% endblock %}