{% extends 'base.html.twig' %}

{% block title %}Déchêts{% endblock %}

{% block body %}
<div class="container-fluid text-justify">
    
    <h1>DÉCHETS</h1>
    <div style="height: 2px; width: 100%;  background: linear-gradient(to right, #4464BC, #E8ECF7);" class="item"></div>
   
    <h2 class="mt-5">Informations générales</h2>
    <p>
        Les ordures ménagères sont ramassées le mercredi après-midi.
        Vos contenants doivent être sortis devant votre domicile le jour de la collecte avant 12h.
        Les containers de tri sélectif sont ramassés le vendredi matin.
        Vos contenants doivent être sortis devant votre domicile au plus tôt la veille à partir de 20h.
    </p>

    <h2>Apports volontaires</h2>
    <p>
        Colonnes :
        Place du Gué aux chevaux, devant le foyer polyvalent, à proximité du cimetière
    </p>

    <h2>Déchèterie</h2>
    <p>Décheterie à proximité :</p>

    <div class="d-md-flex">
        <div class="col-md-3">  
            <div class="jumbotron text-center blog-main shadow-sm p-3 mb-5 rounded" style="background-color:#e8ecf7;"> 
                
                <h4 class="card-title h4 pb-2"><strong>Déchèterie de Bouqueval – Le Plessis-Gassot</strong></h4>
                <p>
                    Route d’Écouen<br/>
                    95270 BOUQUEVAL<br/><br/>
                </p>

                <p><strong>Horaires d’ouverture :</strong></p>

                <p><u>Du 1er avril au 31 octobre</u></p>

                <p>
                    Du lundi au mercredi : 9h – 12h / 14h – 18h30.<br/>
                    Fermée le jeudi<br/>
                    Vendredi : 9h – 12h / 14h – 19h30<br/>
                    Samedi : 9h – 19h<br/>
                    Dimanche : 9h – 13h
                </p>

                <p><u>Du 1er novembre au 31 mars</u></p>

                <p>
                    Du lundi au mercredi : 9h – 12h / 14h – 17h30<br/>
                    Fermée le jeudi<br/>
                    Vendredi : 9h – 12h / 14h – 18h30<br/>
                    Samedi : 9h – 18h<br/>
                    Dimanche : 9h – 17h30
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="jumbotron text-center blog-main shadow-sm p-3 mb-5 rounded" style="background-color:#e8ecf7;">
                <h4 class="card-title h4 pb-2"><strong>Déchèterie de Sarcelles</strong></h4>
                <p>
                    rue des cultivateurs – ZAE des Tissonvilliers<br/>
                    95200 SARCELLES
                </p>

                <p><strong<Horaires d’ouverture :</strong></p>

                <p><u>du 1er avril au 31 octobre</u></p>

                <p>
                    du lundi au vendredi : 9h – 12h / 14h – 18h30<br/>
                    samedi : 9h – 18h30<br/>
                    dimanche : 9h – 13h
                </p>

                <p><u>du 1er novembre au 31 mars</u></p>

                <p>
                    du lundi au vendredi : 9h – 12h / 14h – 17h30<br/>
                    samedi : 9h – 17h30<br/>
                    dimanche : 9h – 13h
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="jumbotron text-center blog-main shadow-sm p-3 mb-5 rounded" style="background-color:#e8ecf7;">
                <h4 class="card-title h4 pb-2"><strong>Déchèterie de Gonesse</strong></h4>
                <p>
                    17 rue Gay Lussac ZA la Grande Couture EST<br/>
                    95500 GONESSE
                </p>

                <p><strong>Horaires d’ouverture :</strong></p>

                <p><u>du 1er avril au 31 octobre</u></p>

                <p>
                    du lundi au vendredi : 9h – 12h / 14h – 18h<br/>
                    samedi 9h – 18h30<br/>
                    dimanche : 9h – 13h
                </p>

                <p><u>du 1er novembre au 31 mars</u></p>

                <p>
                    du lundi au vendredi : 9h – 12 h / 14h – 17h30<br/>
                    samedi : 9h – 17h30<br/>
                    dimanche : 9h – 13h
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="jumbotron text-center blog-main shadow-sm p-3 mb-5 rounded" style="background-color:#e8ecf7;">
                <h4 class="card-title h4 pb-2"><strong>Déchèterie de Louvres</strong></h4>
                <p>
                    avenue du Beaumontoir – ZA le Roncé<br/>
                    95380 LOUVRES
                </p>

                <p><strong>Horaires d’ouverture :</strong></p>

                <p><u>du 1er avril au 31 octobre</u></p>

                <p>
                    du lundi au vendredi (sauf mardi) : 9h – 12h / 14h – 18h<br/>
                    samedi : 9h – 18h<br/>
                    dimanche : 9h – 13h
                </p>

                <p><u>du 1er novembre au 31 mars</u></p>

                <p>
                    du lundi au vendredi (sauf mardi) : 9h – 12h / 14h – 17h<br/>
                    samedi : 9h – 17h<br/>
                    dimanche : 9h – 13h
                </p>
            </div>
        </div>
    </div>
</div>
    
    <style>
    .item {
      
        vertical-align: middle
    }

    h2{
        text-decoration: underline #5A8E46;
    }
    </style>
{% endblock %}