{% extends 'base.html.twig' %}

{% block title %}Démarches{% endblock %}

{% block body %}
    <h1>DÉMARCHES</h1>
        
        <h2>État civil</h2>
            
            <h3>Déclaration de naissance </h3>
                
                <h4>Délai</h4>
                <p>
                    La déclaration doit être faite dans les 3 jours qui suivent le jour de la naissance. Si l’enfant naît un mercredi, un jeudi ou un vendredi, ce délai est repoussé au lundi suivant.
                    Une naissance, qui n’a pas été déclarée dans ce délai, ne peut être inscrite sur les registres que sur présentation d’un jugement rendu par le tribunal de grande instance dans lequel est né l’enfant.
                </p>
                
                <h4>Démarche</h4>
                <p>
                    La naissance est déclarée par le père, ou à défaut, par le médecin, la sage-femme ou une autre personne qui aura assisté à l’accouchement. La naissance est déclarée par le père, ou à défaut, par le médecin, la sage-femme ou une autre personne qui aura assisté à l’accouchement. L’acte de naissance est rédigé immédiatement par un officier d’état civil.
                    À savoir : dans certains hôpitaux publics, un officier d’état civil assure une permanence au sein du service de maternité pour enregistrer les déclarations de naissances.
                </p>
                
                <h4>Pièces à fournir</h4>
                <p>
                    Certificat établi par le médecin ou la sage-femme
                    La déclaration de choix de nom si les parents souhaitent utiliser cette faculté
                    L’acte de reconnaissance si celui-ci a été fait avant la naissance
                    Livret de famille pour y inscrire l’enfant, si le(s) parent(s) en possède(nt) déjà.
                </p>
            
            <h3>Mariage</h3>
                <h4>Demande d’acte de mariage</h4>
                <p>
                    Les actes de mariage peuvent être retirés sur place ou par voie postale au service état civil de la mairie. Pour une demande par courrier, joindre une enveloppe timbrée à votre adresse.
                </p>
                
                <h4>Pièces à fournir</h4>
                <ul>
                    <li>Photocopie du livret de famille ou d’une pièce d’identité</li>
                    <li>Vous envisagez de vous marier à Fontenay-en-Parisis, votre dossier est à retirer à la mairie.</li>
                        <li>Vos extraits d’acte de naissance de moins de trois mois de la date du mariage</li>
                        <li>Une attestation sur l’honneur de domicile</li>
                        <li>Vos pièces d’identité en cours de validité</li>
                        <li>Un certificat de contrat de mariage émanant du notaire (si contrat).</li>
                        <li>La liste des témoins de mariage et une photocopie de leur pièce d’identité. (les témoins doivent obligatoirement être majeurs)</li>
                </ul>
                <p>Pour les étrangers se renseigner en Mairie.</p>
            
            <h3>Décès</h3>
                <h4>Demande d’acte de décès</h4>
                <p>Toute personne, même si elle n’a aucun lien de parenté avec le défunt, peut demander un acte de décès. La demande peut être faite sur place ou par correspondance, auprès de la mairie du lieu où a été dressé l’acte ou du dernier domicile du défunt. Par correspondance, indiquer les nom et prénom du défunt ainsi que la date du décès et joindre une enveloppe timbrée à votre adresse.</p>
                <p>Plus d’informations sur le site <a href="https://www.service-public.fr/particuliers/vosdroits/F909">Service Public</a></p>

                <h4>Ou faire la déclaration ?</h4>
                <p>Auprès du service état civil de la mairie où le décès a eu lieu.</p>
                
                <h4>Par qui ?</h4>
                <p>Par un parent, une personne possédant les renseignements les plus exacts et les plus complets sur l’état civil du défunt ou par un mandataire habilité à cet effet.</p>
                
                <h4>Quand ?</h4>
                <p>Dans les 24 heures suivant le décès.</p>
                
                <h4>Pièces à produire :</h4>
                <ul>
                    <li>Le livret de famille ou l’acte de naissance du défunt.</li>
                </ul>    
                <p>Plus d’informations sur le site <a href="https://www.service-public.fr/particuliers/vosdroits/F909">Service Public</a></p>
        
        <h2>Identité</h2>
           <h3>Carte Nationale d’Identité</h3>
                <a href="https://www.val-doise.gouv.fr/Demarches-administratives/Passeport/Mairies-du-Val-d-Oise-delivrant-des-CNI-et-des-passeports-biometriques">Liste des mairies du 95 délivrant des CNI et passeports biométriques</a>
                <a href="https://www.service-public.fr/particuliers/vosdroits/N358">+ d’infos</a>
            <h3>Passeport biométrique </h3>
                <a href="https://www.val-doise.gouv.fr/Demarches-administratives/Passeport/Mairies-du-Val-d-Oise-delivrant-des-CNI-et-des-passeports-biometriques">Liste des mairies du 95 délivrant les CNI et passeports biométriques</a>

        <h2>Divers</h2>
           
            <h3>Carte électorale</h3>
                <p>
                    La carte électorale est un document qui atteste de l’inscription sur les listes électorales de la commune.</br></br>
                    Elle est renvoyée aux nouveaux électeurs l’année qui suit leur inscription. Certaines années, tous les électeurs reçoivent une nouvelle carte. La carte doit être présentée au bureau de vote le jour du scrutin. La carte est valable jusqu’à son remplacement par la suivante.
                </p>
                
                <h4>Comment se la procurer ?</h4>
                <p>
                    Pour obtenir une carte électorale, il faut être inscrit sur les listes électorales. Les jeunes sont maintenant inscrits d’office à leur majorité (18 ans), si vous n’avez jamais été inscrit, vous pouvez le faire volontairement auprès de votre mairie.
                </p>
                <a href="https://www.service-public.fr/particuliers/vosdroits/F1962#Ref">+ d’infos</a>
           
            <h3>Certificat de vie commune</h3>
                
                <h4>A quoi ça sert ?</h4>
                <p>
                    Si vous vivez en union libre (avec une personne de sexe différent ou de même sexe), certains organismes peuvent vous attribuer certains avantages. Vous aurez alors besoin de prouver que vous vivez en couple et de fournir un certificat de vie commune (ou de concubinage).
                </p>
                
                <h4>Comment l’obtenir ?</h4>
                <p>
                    Les mairies ne sont plus obligées de délivrer ce document. Cependant, votre mairie de Fontenay-en-Parisis le délivre toujours. Pour vous le procurer, il vous suffit de vous adresser à l’accueil de la mairie.
                </p>
               
                <h4>Pièces à fournir</h4>
                <ul>
                    <li>un titre d’identité des deux personnes demandant ce certificat et la présence de ceux-ci</li>
                    <li>un justificatif de domicile de moins de trois mois des demandeurs</li>
                </ul>        

            <h3>Carte grise</h3>
                <a href="https://www.service-public.fr/particuliers/vosdroits/N367">Démarches sur le site du service public</a>
            
         

{% endblock %}