{% extends 'base.html.twig' %}

{% block title %}Numéros Utiles{% endblock %}

{% block body %}
<div style= "margin-top: 50px">
<h1 style="margin-left:15px">NUMÉROS UTILES</h1>
<div style="height: 2px; width: 100%;  background: linear-gradient(to right, #4464BC, #E8ECF7);" class="item"></div>
</div>
<br/><br/><br/>
<h2>Annuaire téléphonique</h2><br/><br/>
<h3>Santé</h3><br/>
<p>
DENTISTE<br/><br/>

Marc Gentilhomme<br/>
Chirurgien dentiste<br/>
01 34 09 90 50<br/>
1 rue de la Montagne Aigüe – FONTENAY-EN-PARISIS<br/><br/>

HOPITAUX / CLINIQUES<br/><br/>

Centre Hospitalier de Gonesse<br/>
01 34 53 21 21<br/>
25 rue P. de Theilley – 95500 GONESSE<br/><br/>

Hôpital Privé Nord Parisien<br/>
01 39 92 70 00<br/>
3 boulevard du Maréchal de Lattre de Tassigny – 95200 SARCELLES<br/><br/>

INFIRMIERS<br/><br/>

Marie-Line Armellino-Butet<br/>
Infirmière<br/>
01 34 71 16 15<br/>
13 rue Achille Antheaume – FONTENAY-EN-PARISIS<br/><br/>

Pascale Caroën<br/>
Infirmière<br/>
01 34 71 12 73<br/>
15 rue de derrière le Sévy – FONTENAY-EN-PARISIS<br/><br/>

KINESITHERAPEUTES<br/><br/>

Robin Desnier<br/>
Masseur Kynésithérapeute<br/>
01 34 71 18 30<br/>
28 rue Ambroise Jacquin – FONTENAY-EN-PARISIS<br/><br/>

Christine Piettre<br/>
Orthophoniste<br/>
01 34 71 10 14<br/>
28 rue Ambroise Jacquin – FONTENAY-EN-PARISIS<br/><br/>

 

Service Prévention et Santé Publique<br/>
01 34 22 22 73 – 06 13 54 60 45<br/><br/><br/>
</p>

<h3>Emploi et formation</h3><br/>

<p>
Pôle Emploi<br/>
3949<br/>
ZAC La Grande Vallée 5 avenue Pierre Salvi – 95500 GONESSE<br/><br/><br/>
</p>

<h3>Social</h3><br/>

<p>
CPAM du Val d’Oise<br/>
Caisse Primaire d’Assurance Maladie<br/>
08 99 23 47 82 – 3646<br/>
2 rue des Chaffours Immeuble « Les Majorberts » – 95017 CERGY-PONTOISE Cedex<br/><br/>

ADIL<br/>
Agence Départementale d’Information sur le Logement<br/>
08 20 16 95 95<br/>
13 Boulevard de l’Hautil – 95092 CERGY Cedex<br/><br/>

JALMALV 95 (Jusqu’à la mort accompagner la vie)<br/>
01 34 16 36 83<br/>
Hôtel de Ville 45 rue d’Ermont – 95390 SAINT-PRIX<br/><br/>

Centre d’Aide aux Victimes de violences conjugales<br/>
3919<br/><br/>

Viols Femmes Informations<br/>
0 800 05 95 95 (gratuit)<br/><br/>

Direction Service Social Départemental<br/>
01 34 25 34 72 ou 3919<br/><br/>

Point Info Famille<br/>
01 30 75 76 82<br/>
18 rue l’Aven BP 88499 – 95 891 CERGY PONTOISE CEDEX<br/><br/>

CAF<br/>
Caisse d’Allocations Familiales du Val d’Oise<br/>
08 10 25 95 10<br/>
43 rue Marius Delpech – 95 200 SARCELLES
</p>
<style>

p,h2,h3{
  margin-left: 15px;
}
.item {
      
  vertical-align: middle
}

h2{
    text-decoration: underline #5A8E46;
}



</style>
{% endblock %}
