{% extends 'base.html.twig' %}

{% block title %}Numéros Utiles{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
<h1>NUMÉROS UTILES</h1>
<h2>Annuaire téléphonique</h2>
{% include 'partials/footer.html.twig' %}
{% endblock %}
