{% extends 'base.html.twig' %}

{% block title %}Transports{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
<h1>TRANSPORTS</h1>
<h2>Ligne RER A</h2>
<p>Gare de Cergy</p>
<h2>Bus ligne 9502</h2>
<p>Horaire Bus 9502</p>
{% include 'partials/footer.html.twig' %}
{% endblock %}