{% extends 'base.html.twig' %}

{% block title %}Transports{% endblock %}

{% block body %}
<div style= "margin-top: 50px">
<h1>TRANSPORTS</h1>
<div style="height: 2px; width: 100%;  background: linear-gradient(to right, #4464BC, #E8ECF7);" class="item"></div>
</div>
<br/><br/><br/>
<h2>Ligne RER A</h2><br/>
<p>Gare de Cergy</p>
<a href="https://www.sncf.com/fr/gares/cergy-prefecture/OCE87381905/departs-arrivees/idf/all">Site de la Gare</a><br/><br/>
<h2>Bus ligne 9502</h2>
<a href="https://www.fileo.com/fileadmin/Sites/cif/documents/Lignes/HORAIRES_2019/Horaires_bus_9502_Montmorency_-_Aeroport_CDG_2019.pdf">Horaire Bus 9502</a>


<style>
.item {
      
  vertical-align: middle
}

h2{
    text-decoration: underline #5A8E46;
}

h1,h2 {
    margin-left: 15px
}

p,a {
    margin-left: 40px
}

</style>
{% endblock %}