{{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
    {{ form_widget(form) }}
    <button class="btn btn-warning">
	{{ article.id ? 'Modifier l\'article' : 'Créer l\'article' }}
	</button>
{{ form_end(form) }}
