{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}

{% include 'partials/header.html.twig' %}
<div style="margin-top: -300px; margin-left: 10px">
<h1>Historique</h1>
</div>

<h2>Géographie</h2>
<p>Le village se situe à 50 km au nord de Paris. Traversé au nord par la Francilienne, il se distingue de loin grâce à son paysage magnifiquement fleuri.</p>
<h2>Histoire</h2>
<img src="images/Eglise.jpg" alt="Eglise de Cergy-Village" />
<p>L'église fut construite sur les ruines d'un ancien sanctuaire celtique qui fut ensuite un lieu de culte gallo-romain. Ce dernier est situé sur les pentes ouest de la Vallée du Crould.
Dès le 1er siècle, le village se développa autour de ce sanctuaire. Si l’église est une construction du 16e siècle, la tour elle, fut édifiée plus tard.

Le cimetière accolé à l’origine à l’église, a été déplacé vers le site actuel. La partie ancienne du cimetière actuel comporte des dalles et statues, comme la tombe à l’ange dont les traits graciles sont tout à fait remarquables.
L’intérieur est sobre et comporte des colonnes cylindriques demi-engagées (partiellement encastrées dans le mur). Les clés de voûtes pendantes sont particulièrement ouvragées.
De nombreux objets présentent un intérêt patrimonial : des statues (Saint-Denys, le Christ en croix ou encore le Saint Jean et la Vierge en Majesté).

Saint-Denys est souvent représenté dans l’église qui lui est dédiée. Ce saint fut martyrisé au 3e siècle à Montmartre.
Il subit de nombreux supplices :
Livré aux lions, brûlé dans un feu, flagellé, puis crucifié, sa foi lui permit de résister aux épreuves.
Enfin, Saint Denys fut décapité ; il prit alors sa tête et marcha jusqu’à son lieu de sépulture à Saint-Denis.
C’est d’ailleurs à cet emplacement précis, que Sainte Geneviève fit ériger la première église.</p>


{% include 'partials/footer.html.twig' %}
{% endblock %}
