{{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
    {{ form_widget(form) }}
    <button class="btn">{{ user.id ? 'Modifier le compte utilisateur' : 'Créer le compte utilisateur' }}</button>
{{ form_end(form) }}